@import 'config';

.aqua {
	color: $aqua;
}

.blue {
	color: $blue;
}

.black {
	color: $black;
}

.fuchsia {
	color: $fuchsia;
}

.gray {
	color: $gray;
}

.green {
	color: $green;
}

.lime {
	color: $lime;
}

.maroon {
	color: $maroon;
}

.navy {
	color: $navy;
}

.olive {
	color: $olive;
}

.purple {
	color: $purple;
}

.red {
	color: $red;
}

.silver {
	color: $silver;
}

.teal {
	color: $teal;
}

.white {
	color: $white;
}

.yellow {
	color: $yellow;
}
