@import 'config';
@import 'utilities';

// Colors

.text-aqua {
	color: $aqua;
}

.text-blue {
	color: $blue;
}

.text-black {
	color: $black;
}

.text-fuchsia {
	color: $fuchsia;
}

.text-gray {
	color: $gray;
}

.text-green {
	color: $green;
}

.text-lime {
	color: $lime;
}

.text-maroon {
	color: $maroon;
}

.text-navy {
	color: $navy;
}

.text-olive {
	color: $olive;
}

.text-purple {
	color: $purple;
}

.text-red {
	color: $red;
}

.text-silver {
	color: $silver;
}

.text-teal {
	color: $teal;
}

.text-white {
	color: $white;
}

.text-yellow {
	color: $yellow;
}

// backgroung-color

.bg-aqua {
	background-color: $aqua;
}

.bg-blue {
	background-color: $blue;
}

.bg-black {
	background-color: $black;
}

.bg-fuchsia {
	background-color: $fuchsia;
}

.bg-gray {
	background-color: $gray;
}

.bg-green {
	background-color: $green;
}

.bg-lime {
	background-color: $lime;
}

.bg-maroon {
	background-color: $maroon;
}

.bg-navy {
	background-color: $navy;
}

.bg-olive {
	background-color: $olive;
}

.bg-purple {
	background-color: $purple;
}

.bg-red {
	background-color: $red;
}

.bg-silver {
	background-color: $silver;
}

.bg-teal {
	background-color: $teal;
}

.bg-white {
	background-color: $white;
}

.bg-yellow {
	background-color: $yellow;
}

// Border

.border-dotted {
	border-style: $dotted;
}

.border-dashed {
	border-style: $dashed;
}

.border-solid {
	border-style: $solid;
}

.border-double {
	border-style: $double;
}

.border-groove {
	border-style: $groove;
}

.border-ridge {
	border-style: $ridge;
}

.border-inset {
	border-style: $inset;
}

.border-outset {
	border-style: $outset;
}

.border-none {
	border-style: $none;
}

.border-hidden {
	border-style: $hidden;
}
